{
  "extends": ["airbnb"],
  "rules": {
    "no-use-before-define": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  },
  "env": {
    "browser": true
  }
}
